<div class=" flex justify-center items-center h-screen authentification-background">
  <div class="max-w-md w-full p-8 bg-white rounded-lg container-shadow">
    <h1 class="text-2xl font-semibold mb-4 text-center">Reset Password</h1>

    <form newPasswordForm="ngForm" (ngSubmit)="onSubmit()">
      <input type="hidden" name="token" [(ngModel)]="token">


      <div class="my-4">
        <label for="newPassword" class="block text-sm font-medium text-gray-700">New Password</label>
        <div class="relative">
          <input type="{{ passwordVisible ? 'text' : 'password' }}" id="password" name="password"
            [(ngModel)]="newPassword" required class="mt-1 block w-full px-3 py-2 rounded-md border border-gray-300 shadow-sm focus:outline-none 
                     focus:border-purple-500 focus:ring focus:ring-purple-500 focus:ring-opacity-50">
          <button type="button" class="absolute inset-y-0 right-0 px-3 py-2" (click)="togglePasswordVisibility()">
            <fa-icon [icon]="passwordVisible ? faEye : faEyeSlash" class="h-6 w-6 text-gray-500"></fa-icon>
          </button>
        </div>

        <div class="my-4 mb-6">
          <label for="confirmPassword" class="block text-sm font-medium text-gray-700">Confirm Password</label>
          <div class="relative">
            <input type="{{ passwordVisible ? 'text' : 'password' }}" id="password" name="password"
              [(ngModel)]="confirmPassword" required class="mt-1 block w-full px-3 py-2 rounded-md border border-gray-300 shadow-sm focus:outline-none 
                     focus:border-purple-500 focus:ring focus:ring-purple-500 focus:ring-opacity-50">
            <button type="button" class="absolute inset-y-0 right-0 px-3 py-2 " (click)="togglePasswordVisibility()">
              <fa-icon [icon]="passwordVisible ? faEye : faEyeSlash" class="h-6 w-6 text-gray-500"></fa-icon>
            </button>
          </div>

          <div *ngIf="errorMessage" class="bg-red-100 border border-red-400 text-red-500 px-4 py-3 rounded relative" role="alert">
     
            <span class="block sm:inline">{{ errorMessage }}</span>
          </div>

          <button type="submit"
            class="my-4 w-full py-2 px-4 rounded focus:outline-none focus:shadow-outline bg-purple-700 hover:bg-purple-900 text-white font-bold">
            Reset Password
          </button>
        </div>
        <div *ngIf="newPassword !== confirmPassword && confirmPassword !== ''" class="text-red-500 text-sm mt-1">
          Passwords do not match!
        </div>
      </div>
    </form>

  </div>
  <div *ngIf="loading"
    class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-black bg-opacity-50 z-50">
    <div class="spinner border-t-4 border-gray-500 rounded-full animate-spin h-12 w-12"></div>
  </div>
</div>