<div class="flex justify-center items-center h-screen authentification-background">

  <div class="max-w-md w-full p-8 bg-white rounded-lg container-shadow">

    <h1 class="text-2xl font-semibold mb-4 text-center">Email reset password</h1>

    <form *ngIf="!emailSent" #emailVerificationForm="ngForm" (ngSubmit)="sendLink()">
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700">Your e-mail</label>
        <input type="email" id="email" name="email" 
        [(ngModel)]="email" required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" 
          title="Please enter a valid email address"
          #emailInput="ngModel" class="mt-1 block w-full px-3 py-2 rounded-md border border-gray-300 shadow-sm focus:outline-none 
          focus:border-purple-500 focus:ring focus:ring-purple-500 focus:ring-opacity-50">
        <div *ngIf="emailInput.errors && emailInput.errors['required'] && (emailInput.dirty || emailInput.touched)"
          class="text-red-500 text-sm mt-1">E-mail is required</div>
        <div
          *ngIf="emailInput.errors && emailInput.errors['pattern'] && !emailInput.errors['required'] && (emailInput.dirty || emailInput.touched)"
          class="text-red-500 text-sm mt-1">Please enter a valid email address</div>
      </div>
   <div *ngIf="errorMessage" class="bg-red-100 border border-red-400 text-red-500 px-4 py-3 mb-4 rounded relative" role="alert">
     
      <span class="block sm:inline">{{ errorMessage }}</span>
    </div>
      <button type="submit" [disabled]="emailVerificationForm.invalid"
        [ngClass]="{ 'bg-gray-300 cursor-not-allowed': emailVerificationForm.invalid, 'bg-purple-700 hover:bg-purple-900 text-white font-bold': !emailVerificationForm.invalid }"
        class="w-full py-2 px-4 rounded focus:outline-none focus:shadow-outline bg-purple-700 hover:bg-purple-900
                   text-white font-bold">
        Send Verification Link
      </button>
    </form>
 
    <button *ngIf="emailSent" (click)="resendLink()" class="w-full py-2 px-4 mt-2 rounded focus:outline-none focus:shadow-outline bg-purple-700 hover:bg-purple-900
                 text-white font-bold">
      Resend reset password Link
    </button>


    <div *ngIf="loading"
      class="fixed top-0 left-0 w-screen h-screen flex items-center justify-center bg-black bg-opacity-50 z-50">
      <div class="spinner border-t-4 border-gray-500 rounded-full animate-spin h-12 w-12"></div>
    </div>

  </div>
</div>