<div class="wrapper">
  <div class="cols cols0">
    <span class="topline">Setting up your online store has never been
      simpler.</span>
    <h1>All-in-one solution</h1>
    <p>With just a few clicks, you can dive into the world of e-commerce and
      utilize our powerful tools to grow your business.</p>
    <div class="btns">
      <button><a href="/create-store" >Create your e-store</a></button>
    </div>
  </div>
  <div class="cols cols1">
    <div class="imgbox">
      <img src="../../../assets/images/img/home.png">
    </div>
  </div>
</div>


