
  <footer>
    <ul class="social_icon">
      <li><a ><i class="fa-brands fa-facebook"></i></a></li>
      <li><a ><i class="fa-brands fa-x-twitter"></i></a></li>
      
      <li><a ><i class="fa-brands fa-linkedin"></i></a></li>
      <li><a ><i class="fa-brands fa-instagram"></i></a></li>
    </ul>
    <ul class="menu">
      <li><a (click)="scrollToSection('home')">Home</a></li>
      <li><a (click)="scrollToSection('about')">About</a></li>
      <li><a (click)="scrollToSection('contact')">Contact</a></li>
    </ul>
    <p><i class="fa-regular fa-copyright"></i> Norsify | All Rights Reserved.</p>
  </footer>



